fastapi
uvicorn[standard]
mangum>=0.17.0,<0.19.0
jinja2
python-multipart
pydantic[email]
bcrypt>=4.0.0
python-jose[cryptography]
httpx
websockets
paho-mqtt>=1.6.1,<2.0.0
aiofiles
firebase-admin>=6.5.0
